// Body
$body-bg: #f7f7f7;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Custom
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
$font-family-poppins: 'Poppins', sans-serif;