// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Custom
$u-color-1 : #0e386a;
$u-color-2 : rgb(28, 81, 214);
$btn-color : #53b848;

.make-note {
    font-family: $font-family-poppins;
}

.note-background {
    background-color: $body-bg;
}

.note-logo {
    background-color: $u-color-1;
}

.top-note-height {
    height: 80px;
}

.logo-img {
    width: 170px;
}

.btn-success {
    color: #fff;
    background-color: $btn-color;
    border-color: $btn-color;
}

.vertical {
    width: 80px;
    display: inline-block;
    transform: rotate(90deg);
}

.white-bg {
    background-color: #ffffff;
}

.u-input::placeholder {
    color: white;
    position: absolute;
    left: 30px;
}

.u-input-icon {
    color: white;
    position: relative;
    top: 23px;
    left: 5px;
}

.u-input {
    width: 100%;
    border: none;
    height: 27px;
    background-color: $u-color-1;
    border-bottom: 1px solid $u-color-2;
    padding-left: 30px;
    color: white;
}

.u-input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid $u-color-2;
}

.bg-green {
    background-color: $btn-color;
}

.note-result {
    width: 100%;
    background-color: white;
    min-height: 600px;
    padding: 5px;
}

.note-section-left-ul {
    list-style-type: none;
}

.note-section-left-li {
    padding-top: 10px;
    padding-bottom: 10px;
}