// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Custom
$u-color-1 : #0e386a;
$u-color-2 : rgb(28, 81, 214);
$btn-color : #53b848;

.make-note {
    font-family: $font-family-poppins;
}

.note-background {
    background-color: $body-bg;
}

.note-logo {
    background-color: $u-color-1;
}

.top-note-height {
    height: 80px;
}

.logo-img {
    width: 170px;
}

.btn-success {
    color: #fff;
    background-color: $btn-color;
    border-color: $btn-color;
}

.vertical {
    width: 80px;
    display: inline-block;
    transform: rotate(90deg);
}

.white-bg {
    background-color: #ffffff;
}

.u-input::placeholder {
    color: white;
    position: absolute;
    left: 30px;
}

.u-input-icon {
    color: white;
    position: relative;
    top: 23px;
    left: 5px;
}

.u-input {
    width: 100%;
    border: none;
    height: 27px;
    background-color: $u-color-1;
    border-bottom: 1px solid $u-color-2;
    padding-left: 30px;
    color: white;
}

.u-input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid $u-color-2;
}

.bg-green {
    background-color: $btn-color;
}

.note-result {
    width: 100%;
    background-color: white;
    min-height: 600px;
    padding: 5px;
}

.note-section-left {
    background-color: $u-color-1;
    min-height: 570px;
}


.note-section-left-li {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 900;
}

.note-section-left-li:hover {
    background-color: $btn-color;
}

.note-section-left-text {
    display: block;
    text-align: center;
}

.tool-input {
    border-style: none;
    background-color: hsl(0deg 0% 96%);
    color: hsl(0deg 0% 69%);
    width: 100%;
    font-weight: 500;
    height: 35px;
}

.tool-input::placeholder {
    color: hsl(0deg 0% 69%);
    font-weight: 500;
}

.tool-input:focus {
    border: none;
    outline: none;
}

.tools-area {
    background-color: white;
    padding: 20px;
}

.tool-input-icon {
    position: absolute;
    top: 30px;
    right: 41px;
    color: hsl(0deg 0% 69%);
}

.single-tools-option {
    padding: 3px;
}

.single-tools-option-text {
    font-size: 15px;
    font-weight: 500;
}

.single-tools-option-input {
    border-style: none;
    width: 100%;
    background-color: $u-color-1;
    color: white;
    height: 28px;
}

.single-tools-option-input:focus {
    border: none;
    outline: none;
}
.single-tools-option-input-icon{
    color: white;
    position: absolute;
    right: 41px;
    bottom: 27px;
    font-size: 20px;
}