@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap);
.make-note {
  font-family: "Poppins", sans-serif;
}

.note-background {
  background-color: #f7f7f7;
}

.note-logo {
  background-color: #0e386a;
}

.top-note-height {
  height: 80px;
}

.logo-img {
  width: 65px;
}

.btn-success {
  color: #fff;
  background-color: #e0a800;
  border-color: #e0a800;
}

.btn-success:hover {
  color: #fff;
  background-color: #e0a800;
  border-color: #e0a800;
}

.btn-success:visited {
  color: #fff;
  background-color: #e0a800;
  border-color: #e0a800;
}

.btn-success:active {
  color: #fff;
  background-color: #e0a800;
  border-color: #e0a800;
}

.vertical {
  width: 80px;
  display: inline-block;
  transform: rotate(90deg);
}

.white-bg {
  background-color: #ffffff;
}

.u-input::-moz-placeholder {
  color: white;
  position: absolute;
  left: 30px;
}

.u-input::placeholder {
  color: white;
  position: absolute;
  left: 30px;
}

.u-input-icon {
  color: white;
  position: relative;
  top: 23px;
  left: 5px;
}

.u-input {
  width: 100%;
  border: none;
  height: 27px;
  background-color: #0e386a;
  border-bottom: 1px solid rgb(28, 81, 214);
  padding-left: 30px;
  color: white;
}

.u-input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(28, 81, 214);
}

.bg-green {
  background-color: #e0a800;
}

.note-result {
  width: 100%;
  background-color: white;
  min-height: 100vh;
  padding-top: 1rem;
  padding-left: 1.5rem;
  margin-right: 1.5rem;
}

.note-section-left {
  background-color: #0e386a;
  min-height: 100vh;
}

.note-section-left-li {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: 900;
}

.note-section-left-li:hover {
  background-color: #e0a800;
}

.note-section-left-text {
  display: block;
  text-align: center;
}

.tool-input {
  border-style: none;
  background-color: hsl(0deg, 0%, 96%);
  color: hsl(0deg, 0%, 69%);
  width: 100%;
  font-weight: 500;
  height: 35px;
}

.tool-input::-moz-placeholder {
  color: hsl(0deg, 0%, 69%);
  font-weight: 500;
}

.tool-input::placeholder {
  color: hsl(0deg, 0%, 69%);
  font-weight: 500;
}

.tool-input:focus {
  border: none;
  outline: none;
}

.tools-area {
  background-color: white;
  padding: 20px;
}

.tool-input-icon {
  position: absolute;
  top: 30px;
  right: 41px;
  color: hsl(0deg, 0%, 69%);
}

.single-tools-option {
  padding: 3px;
}

.single-tools-option-text {
  font-size: 15px;
  font-weight: 500;
}

.single-tools-option-input {
  border-style: none;
  width: 100%;
  background-color: #0e386a;
  color: white;
  height: 28px;
}

.single-tools-option-input:focus {
  border: none;
  outline: none;
}

.single-tools-option-input-icon {
  color: white;
  position: absolute;
  right: 41px;
  bottom: 27px;
  font-size: 20px;
}

.modal-main-text {
  font-weight: 700;
}

.note-heading-text-title {
  font-size: 18px;
  font-weight: bolder;
}

.note-heading-text-value {
  font-size: 17px;
  font-weight: normal;
}

.login-row {
  background-color: #0e386a;
}

.note-login-form {
  width: 75%;
  margin-left: 0;
  padding: 3rem;
}

.note-login-link {
  margin-left: 4rem;
  text-decoration: none;
  color: #e0a800;
}

.note-login-link:hover {
  text-decoration: none;
  color: #e0a800;
}

.note-login-page-logo {
  width: 80px;
  margin-top: 4rem;
  margin-left: 3rem;
}

.login-page-checkbox {
  width: 15px;
  height: 15px;
}

.login-page-checkbox:checked {
  background-color: transparent;
  outline: 2px solid #e0a800;
}

.login-u-input {
  border-radius: 2rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.login-u-input::-moz-placeholder {
  color: white;
}

.login-u-input::placeholder {
  color: white;
}

.login-u-input-focus:focus {
  border-radius: 2rem;
  border-color: #e0a800;
  outline: 2px solid #e0a800;
  color: white;
}

.login-u-input-focus {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
}

.purchase-u-btn:hover {
  border-color: #e0a800;
}

.u-login-btn {
  cursor: pointer;
  width: 100%;
  border-radius: 1rem;
}

.purchase-u-btn {
  background-color: transparent;
}

.login-side-img {
  padding: 10%;
  border-radius: 11%;
}

.login-form-input-icon {
  position: relative;
  left: 91%;
  top: -28px;
}

.login-form-input-icon:focus {
  color: #e0a800;
}

.note-background-img {
  background-image: url("/note_assets/img/office-gfa4b44aa2_1920.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.note-background-color {
  background-color: rgba(14, 56, 106, 0.9);
  width: 100%;
  min-height: 100vh;
}

.logo-placement {
  padding-top: 10%;
  padding-right: 25%;
  padding-left: 25%;
}

.inner-content-splash {
  border: 2px solid hsl(225deg, 44%, 36%);
  padding: 15%;
}

.splash-logo {
  width: 180px;
}

.splash-btn {
  background-color: #e0a800;
  padding: 0.4rem 2.5rem;
}

.note-nav-link {
  color: white;
  font-weight: 700;
  padding: 15px;
  cursor: pointer;
}

.note-nav-a-click {
  background-color: #f7f7f7;
}

.tools-box-complete {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.note-heading-section {
  padding: 10px;
}

.bold-heading {
  font-weight: 600;
}

.icon-pack-heading-note {
  margin-top: 1.9rem !important;
}

.btn-note-heading-pm {
  border: 1px solid #eceff1;
  background-color: #eceff1;
  border-radius: 3px;
}

.btn-note-heading-save {
  border: 1px solid #218838;
  background-color: #218838;
  color: white;
  border-radius: 3px;
}

.btn-note-heading-del {
  border: 1px solid #c82333;
  background-color: #c82333;
  color: white;
  border-radius: 3px;
}

.btn-heading-note-add-new {
  border-radius: 3px;
  border: 1px solid #0e386a;
  background-color: #0e386a;
  color: white;
  font-weight: 600;
  padding: 4px;
}

@media (max-width: 767px) {
  .note-login-form {
    width: 100%;
  }
  .d-xs-none {
    display: none !important;
  }
}
