@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap);
@font-face {
  font-family: "Open Sans";
  src: url("/note_assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "Myriad Pro Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed"), url("/note_assets/fonts/myriad/MYRIADPRO-COND.woff") format("woff");
}
.dark-blue {
  color: #06244c;
}

.make-note {
  font-family: "Open Sans", sans-serif;
}

.note-background {
  background-color: #f7f7f7;
}

.note-logo {
  background-color: #0e386a;
}

.top-note-height {
  height: 3em;
}

.logo-img {
  width: 2.2em;
}

.btn-success {
  color: #06244c;
  background-color: #ffff94;
  border-color: #ffff94;
  font-weight: 400;
}

.btn-success-active {
  color: white;
  background-color: #0e386a;
  border-color: #0e386a;
}

.btn-success:hover {
  color: #06244c;
  background-color: #ffff94;
  border-color: #ffff94;
}

.btn-success:visited {
  color: #06244c;
  background-color: #ffff94;
  border-color: #ffff94;
}

.btn-success:active {
  color: #06244c;
  background-color: #ffff94;
  border-color: #ffff94;
}

.vertical {
  width: 80px;
  display: inline-block;
  transform: rotate(90deg);
}

.white-bg {
  background-color: #ffffff;
}

.u-input::-moz-placeholder {
  color: white;
  position: absolute;
  left: 30px;
  bottom: 1px;
}

.u-input::placeholder {
  color: white;
  position: absolute;
  left: 30px;
  bottom: 1px;
}

.u-input:-ms-input-placeholder {
  color: white;
  position: absolute;
  left: 30px;
}

.u-input::-ms-input-placeholder {
  color: white;
  position: absolute;
  left: 30px;
}

.u-input-icon {
  color: white;
  position: relative;
  top: 20px;
  left: 5px;
}

.u-input {
  width: 100%;
  border: none;
  height: 20px;
  background-color: #0e386a;
  border-bottom: 1px solid rgb(28, 81, 214);
  padding-left: 30px;
  color: white;
}

.u-input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(28, 81, 214);
}

.bg-green {
  background-color: #ffff94;
}

.note-result {
  width: 100%;
  background-color: white;
  min-height: 100vh;
  padding-top: 1rem;
  padding-left: 1.5rem;
  margin-right: 1.5rem;
}

.note-section-left {
  background-color: #0e386a;
  min-height: 100vh;
}

.note-section-left-li {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: 600;
}

.note-section-left-li-selected {
  background-color: #ffff94;
  color: #06244c;
}

.queston-action-icon {
  color: #06244c;
}

.note-section-left-li:hover {
  background-color: #ffff94;
  color: #06244c;
}

.note-section-left-text {
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}

.tool-input {
  border-style: none;
  background-color: hsl(0deg, 0%, 96%);
  color: hsl(0deg, 0%, 69%);
  width: 98%;
  font-weight: 500;
  height: 35px;
}

.tool-input::-moz-placeholder {
  color: hsl(0deg, 0%, 69%);
  font-weight: 500;
}

.tool-input::placeholder {
  color: hsl(0deg, 0%, 69%);
  font-weight: 500;
}

.tool-input:focus {
  border: none;
  outline: none;
}

.tools-area {
  background-color: white;
  padding: 2px;
}

.tool-input-icon {
  position: absolute;
  top: 13px;
  right: 2.3em;
  color: hsl(0deg, 0%, 69%);
}

.single-tools-option-text {
  font-size: 15px;
  font-weight: 500;
}

.single-tools-option-input {
  border-style: none;
  width: 100%;
  background-color: #0e386a;
  color: white;
  height: 28px;
}

.note-questions-single-option-box {
  background-color: hsl(0deg, 0%, 96%);
  color: black;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}

.note-questions-single-option-box-selected {
  background-color: #0e386a;
  color: white;
}

.questions {
  overflow: auto;
  height: 100vh;
  padding-right: 10px;
}

.single-tools-option-input:focus {
  border: none;
  outline: none;
}

.single-tools-option-input-icon {
  color: white;
  position: absolute;
  right: 41px;
  bottom: 27px;
  font-size: 20px;
}

.modal-main-text {
  font-weight: 700;
}

.note-heading-text-title {
  font-weight: 600;
}

.note-heading-text-value {
  font-weight: normal;
}

.login-row {
  background-color: #0e386a;
  min-height: 100vh;
}

.note-login-form {
  width: 75%;
  margin-left: 0;
  padding: 3rem;
}

.note-login-link {
  text-decoration: none;
  color: #ffff94;
}

.note-login-link:hover {
  text-decoration: none;
  color: #ffff94;
}

.note-login-page-logo {
  width: 80px;
  margin-top: 4rem;
  margin-left: 3rem;
}

.login-page-checkbox {
  width: 15px;
  height: 15px;
}

.login-page-checkbox:checked {
  background-color: transparent;
  outline: 2px solid #ffff94;
}

.login-u-input {
  border-radius: 2rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.login-u-input::-moz-placeholder {
  color: white;
}

.login-u-input::placeholder {
  color: white;
}

.login-u-input-focus:focus {
  border-radius: 2rem;
  border-color: #ffff94;
  outline: 2px solid #ffff94;
  color: white;
}

.login-u-input-focus {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
}

.purchase-u-btn:hover {
  border-color: #ffff94;
}

.u-login-btn {
  cursor: pointer;
  width: 100%;
  border-radius: 1rem;
}

.purchase-u-btn {
  background-color: transparent;
}

.login-side-img {
  padding: 10%;
  border-radius: 11%;
}

.login-form-input-icon {
  position: relative;
  left: 91%;
  top: -28px;
}

.login-form-input-icon:focus {
  color: #ffff94;
}

.note-background-img {
  background-image: url("/note_assets/img/office-gfa4b44aa2_1920.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.note-background-color {
  background-color: rgba(14, 56, 106, 0.9);
  width: 100%;
  min-height: 100vh;
}

.logo-placement {
  padding-top: 10%;
  padding-right: 25%;
  padding-left: 25%;
}

.inner-content-splash {
  border: 2px solid hsl(225deg, 44%, 36%);
  padding: 15%;
}

.splash-logo {
  width: 180px;
}

.splash-btn {
  background-color: #ffff94;
  padding: 0.4rem 2.5rem;
}

.note-nav-link {
  color: white;
  font-weight: 600;
  padding: 15px;
  cursor: pointer;
}

.note-nav-a-click {
  background-color: #0e386a;
}

.tools-box-complete {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.note-heading-section {
  padding: 10px;
}

.bold-heading {
  font-weight: 500;
}

.ex-bold-heading {
  font-weight: bold;
}

.icon-pack-heading-note {
  margin-top: 1.9rem !important;
}

.btn-note-heading-pm {
  border: 1px solid #eceff1;
  background-color: #eceff1;
  border-radius: 3px;
}

.btn-note-heading-save {
  border: 1px solid #218838;
  background-color: #218838;
  color: white;
  border-radius: 3px;
}

.btn-note-heading-del {
  border: 1px solid #c82333;
  background-color: #c82333;
  color: white;
  border-radius: 3px;
}

.btn-heading-note-add-new {
  border-radius: 3px;
  border: 1px solid #0e386a;
  background-color: #0e386a;
  color: white;
  font-weight: 500;
  padding: 4px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.notfound-image {
  width: 100%;
  max-height: 100vh;
}

.note-hr-line {
  border-bottom: 1px solid black;
  width: 25%;
  margin-bottom: 0;
}

.btn-new-phrase {
  background-color: #0e386a;
  border: 1px solid #0e386a;
  font-size: 14px;
  color: white;
}

.btn-new-phrase:hover {
  background-color: #0e386a;
  border: 1px solid #0e386a;
  color: white;
}

@media (max-width: 767px) {
  .note-login-form {
    width: 100%;
  }
  .d-xs-none {
    display: none !important;
  }
}
.border-less {
  border-style: none;
}

.log-out-left-nav-dashboard {
  margin-top: 100%;
}

.content-area {
  background-color: #f7f7f7;
  height: 100%;
}

.note-db-icon {
  background-color: black;
}

.db-section-2 {
  background-image: linear-gradient(to left, navy, rgb(118, 118, 213));
}

.tbldiv {
  background-color: white;
}

.note-db-logo {
  background-image: linear-gradient(to right, navy, rgb(118, 118, 213));
}

.btn-14px {
  font-size: 14px;
}

.dashboard-bell-icon {
  position: relative;
  top: 8px;
  right: 15px;
  color: #ffff94;
}

.note-db-link {
  text-decoration: none;
  color: black;
}

.note-db-link-active {
  color: rgb(28, 81, 214);
}

.note-db-link:visited {
  text-decoration: none;
}

.note-db-link:hover {
  text-decoration: none;
}

.note-statement-btn {
  font-size: 14px;
  border: 1px solid black;
  font-weight: bolder;
}

.note-btn-hover-edit {
  background-color: #ffff94;
  font-size: 14px;
  color: white;
  border: 1px solid #ffff94;
  border-radius: 3px;
  position: relative;
  bottom: 3em;
  left: 90%;
}

.note-btn-hover-edit-danger {
  background-color: red;
  font-size: 14px;
  color: white;
  border: 1px solid red;
  border-radius: 3px;
  position: relative;
  bottom: 2em;
  left: 63%;
  z-index: 1;
}

.note-btn-hover-edit-success {
  background-color: green;
  font-size: 14px;
  color: white;
  border: 1px solid green;
  border-radius: 3px;
  position: relative;
  bottom: 2em;
  left: 63%;
  z-index: 1;
}

.font-weight-600 {
  font-weight: 600;
}

.note-signup-invalid-feedback {
  position: relative;
  bottom: 1.2em;
}

.login-u-input option {
  margin: 40px;
  background: #0e386a;
  color: #fff;
  text-shadow: 0 1px 0 #0e386a;
}

.note-help-modal-para {
  margin: 0;
}

.note-help-modal-para-bold {
  font-weight: bold;
}
